$color-muted: #6c757d;
$color-green: #03a87c;
$gray: rgba(0, 0, 0, 0.54);
$gray-hover: #5d5e5e;
$green-hover: #029e74;

svg {
  fill: $color-muted;
}

.author {
  font-size: 11px;
  color: $color-muted;
}

.section-a-center-card {
  line-height: 1;
  font-size: .8rem;

  img {
    width: 100px;
    height: 100px;
  }

  a {
    color: black;
    font-size: .8rem;
  }
}

.cursor-hand {
  &:hover {
    cursor: pointer;
  }
}

.btn {
  border-radius: 5px;
  border: solid 0.5px;
  font-size: 12px;
  color: rgb(77, 77, 77);
}

.btn-upgrade {
  border: 1px solid #888888;
  background-color: #fff;

  &:hover {
    border: 1px solid black;
    background-color: #fff;
  }
}

.btn-hidden {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.btn-learn {
  background-color: $color-green;
  color: #fff;

  &:hover {
    background-color: $green-hover;
    color: #fff;
  }
}

.parent-nav-sticky {

  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;

  .nav-sticky {
    align-items: flex-end;
    width: 90%;
    overflow: auto;

    ul {
      display: flex;
      white-space: nowrap;
      margin: 0;
      padding: 0;

      li {
        margin: 0 7.5px;
        list-style: none;

        a {
          color: $color-muted;
          text-align: justify;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .nav-sticky {
      align-items: flex-end;
      width: 85%;
      overflow: auto;

      ul {
        display: flex;
        justify-content: space-evenly;

        li {
          margin: 0 7.5px;
          list-style: none;

          a {
            color: $color-muted;
            text-align: justify;
          }
        }
      }
    }
  }
}

.nav-header {
  list-style: none;
  // overflow: auto;
  display: flex;

  li {
    margin-left: 15px;

    a {
      color: $color-muted;
    }
  }
}

.nav-header2 {
  text-align: center;
  position: sticky;
  top: 0;

  a {
    margin-left: 10px;
    color: $color-muted;
  }
}

.popular-on-medium {
  position: sticky;
  top: -120px;

  .nav-popular {
    a {
      color: $color-muted;
      margin-left: 15px;
    }
  }
}

.hero {
  position: relative;;

  .hero-image {
    display: block;
    background-image: url(https://images.unsplash.com/flagged/photo-1575865655210-29e6bff713fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    height: 150px;
    width: 100%;
    background-position: 50% 42% !important;
    text-indent: -9999px;
    margin-right: 10px;

  }

  .hero-right {
    background-image: url(https://cdn-images-1.medium.com/fit/c/504/222/1*-o6fzNrq3WHE8Pjvo191kA.jpeg);
  }

  .hero-text-right {
    margin-left: -15px;
  }

  .hero-image-right {
    background-image: url(https://cdn-images-1.medium.com/fit/c/504/222/1*-o6fzNrq3WHE8Pjvo191kA.jpeg)
  }

  @media only screen and (min-width: 1360px) {
    .hero-image {
      position: absolute;
      left: -30%;
      width: 120%;
    }

    h5 {
      margin-top: 175px;
    }

    .hero-image-right {
      right: -3%;
      left: auto;
      width: 103%;
    }
    .hero {
      left: 20px
    }
  }

}

.FotoPerfil {
  border-radius: 50%;
}

.network-color {
  background-color: #D7EFEE;
  padding: 10px;

  h5 {
    font-family: 'Noto Sans', sans-serif;
  }

  img {
    width: 40%;
  }
}

.network-content-color {
  background-color: #fafafa;
  color: black;
  font-size: 0.8rem;
  padding-top: 15px;
}


.anchor {
  font-size: 0.8rem;

  a {
    color: black;
  }
}


.see-editors {

  text-align: justify;

  a {
    color: $color-green;
    text-decoration: none;
  }

  @media (min-width: 768px) {
    text-align: end;
  }
}

.history-image {
  width: 100px;
  height: 100px;
}

.text-card-section {
  font-size: .8rem;

  h5 {
    font-size: 1rem;
  }
}

@media (min-width: 1360px) {
  .text-card-section {
    font-size: 1rem;

    h5 {
      font-size: 1.25rem;
    }
  }
}

